#parse("common/taglibs.vm")
<script type="text/javascript" src="$ctx/js/admin/user/user.js"></script>
<div class="content-box-header">
	<h3 style="cursor: s-resize;">Content box</h3>
	<ul class="content-box-tabs">
		<li><a href="#tab1" class="default-tab current">Table</a>
		</li>
		<!-- href must be unique and match the id of target div -->
		<li><a href="#tab2">Forms</a>
		</li>
	</ul>

	<div class="clear"></div>

</div>
<!-- End .content-box-header -->

<div class="content-box-content">

	<div style="display: block;" class="tab-content default-tab" id="tab1">
		<!-- This is the target div. id must match the href of this div's tab -->

		<table>

			<thead>
				<tr>
					<th><input class="check-all" type="checkbox" /></th>
					<th style="width:20px;">id</th>
					<th style="width:100px;">用户名</th>
					<th style="width:100px;">姓名</th>
					<th style="width:50px;">性别</th>
					<th style="width:50px;">状态</th>
					<th style="width:200px;">email</th>
					<th style="width:200px;">操作</th>
				</tr>

			</thead>

			<tfoot>
				<tr>
					<td colspan="8">
						<div id="pagination"></div>
						<!-- End .pagination -->
						<div class="clear"></div></td>
				</tr>
			</tfoot>

			<tbody id="user_table">
				<tr id="user_template">
					<td><input type="checkbox" /></td>
					<td id="uid"></td>
					<td id="loginName"></td>
					<td id="name"></td>
					<td id="sex"></td>
					<td id="enabled"></td>
					<td id="email"></td>
					<td>
						<!-- Icons --> <a href="#" title="Edit"><img
							src="${ctx}/img/admin/pencil.png" alt="Edit" /> </a> <a href="#"
						title="Delete"><img src="${ctx}/img/admin/cross.png" alt="Delete" />
					</a> <a href="#" title="Edit Meta"><img
							src="${ctx}/img/admin/hammer_screwdriver.png" alt="Edit Meta" /> </a></td>
				</tr>


			</tbody>

		</table>

	</div>
	<!-- End #tab1 -->

</div>
<!-- End .content-box-content -->