#parse("common/taglibs.vm")
<script type="text/javascript" src="$ctx/js/admin/exam/examinationPager.js"></script>
<div class="content-box-header">
	<h3 style="cursor: s-resize;">试卷信息</h3>
	<ul class="content-box-tabs">
		<li><a href="#tab1" class="default-tab current">列表</a>
		</li>
		<!-- href must be unique and match the id of target div -->
		<li><a href="#tab2">添加</a>
		</li>
	</ul>
	<div class="clear"></div>
</div>
<!-- End .content-box-header -->

<div class="content-box-content">

	<div style="display: block;" class="tab-content default-tab" id="tab1">
		<!-- This is the target div. id must match the href of this div's tab -->
		<table>
			<thead>
				<tr>
					<th style="width:20px;"><input class="check-all" type="checkbox" /></th>
					<th style="width:50px;">序号</th>
					<th style="width:100px;">试卷名</th>
					<th style="width:100px;">开始时间</th>
					<th style="width:100px;">结束时间</th>
					<th style="width:75px;">监考人</th>
					<th style="width:100px;">创建时间</th>
					<th style="width:200px;">操作</th>
				</tr>
			</thead>

			<tfoot>
				<tr>
					<td colspan="8">
						<div id="pagination"></div>
						<!-- End .pagination -->
						<div class="clear"></div>
					</td>
				</tr>
			</tfoot>

			<tbody id="examinationPager_table">
				<tr id="examinationPager_template">
					<td><input type="checkbox" /></td>
					<td id="exId"></td>
					<td id="title"></td>
					<td id="startTime"></td>
					<td id="endTime"></td>
					<td id="invigilateName"></td>
					<td id="createTime"></td>
					<td>
						<a href="#" title="Edit"><img src="${ctx}/img/admin/pencil.png" alt="Edit" /></a>
						<a href="#" title="Delete"><img src="${ctx}/img/admin/cross.png" alt="Delete" /></a> 
						<a href="#" title="Edit Meta"><img src="${ctx}/img/admin/hammer_screwdriver.png" alt="Edit Meta" /></a>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
	<!-- End #tab1 -->


<div style="display: none;" class="tab-content" id="tab2">

	<form action="" method="post" id="examinationPagerform">
		<fieldset>
			<!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->

			<p>
				<label>试卷名称</label><input class="text-input medium-input" 
					name="title" type="text" maxlength = "50"> 
				<br>
				<small>不能为空</small>
			</p>

			<p>
				<label>开始时间</label> <input
					class="text-input small-input" id="dp_startTime"
					name="startTime" onFocus="WdatePicker({startDate:'%y-%M-01 00:00:00'
					,dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true, minDate:'%y-%M-%d'})">
					<br>
				<small>考试开始时间</small>
			</p>
			
			<p>
				<label>结束时间</label> <input
					class="text-input small-input"
					name="endTime" onFocus="WdatePicker({startDate:'%y-%M-01 00:00:00'
					,dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true, minDate:'#F{$dp.$D(\'dp_startTime\')}'})">
					<br>
				<small>考试结束时间</small>
			</p>

			<p>
				<label>监考人</label> <input
					class="text-input small-dadian-input" name="invigilateName"
					type="text">
			</p>
			
			<p>
				<input class="button" value="提交" type="submit">
			</p>

		</fieldset>


		<div class="clear"></div>
		<!-- End .clear -->

	</form>

</div>
<!-- End #tab2 -->
					
</div>
<!-- End .content-box-content -->