<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yseasony.acg.dao.RoleDao">
	<resultMap id="roleMap" type="org.yseasony.acg.entity.Role">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<select id="page" resultType="role" parameterType="page">
		SELECT
		id, name
		FROM
		acg_role LIMIT
		#{pageStart},
		#{limit}
	</select>

	<select id="count" resultType="java.lang.Integer">
		select count(id) from acg_role
		<where>
			<if test="filters != null">
				<if test="filters.name != null">
					name = #{filters.name}
				</if>
			</if>
		</where>
	</select>

</mapper>