<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="page" type="org.yseasony.acg.utils.Page" />
		<typeAlias alias="user" type="org.yseasony.acg.entity.User" />
		<typeAlias alias="role" type="org.yseasony.acg.entity.Role" />
		<typeAlias alias="auth" type="org.yseasony.acg.entity.Authority" />
	</typeAliases>

	<plugins>
		<plugin interceptor="org.yseasony.acg.utils.plugin.OffsetLimitInterceptor">
			<!-- dialect,sessionfactory -->
			<property name="dialect" value="org.yseasony.acg.utils.sql.dialect.MySQLDialect,SqlSessionFactory" />
		</plugin>
	</plugins>
</configuration>
