<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="logfile_bug">
		<param value="true" name="Append" />
		<param value="'.'yyyy-MM-dd" name="datePattern" />
		<param value="d:/logs/acg_debug.log" name="File" />
		<param value="DEBUG" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	
	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="logfile_error">
		<param value="true" name="Append" />
		<param value="'.'yyyy-MM-dd" name="datePattern" />
		<param value="d:/logs/acg_error.log" name="File" />
		<param value="ERROR" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	
	<appender class="org.apache.log4j.ConsoleAppender" name="stdout_debug">
		<param value="ERROR" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">  
            <param name="levelMin" value="debug" />  
            <param name="levelMax" value="debug" />  
            <param name="AcceptOnMatch" value="true" />  
        </filter>
	</appender>
	
	<appender class="org.apache.log4j.ConsoleAppender" name="stdout_error">
		<param value="ERROR" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">  
            <param name="levelMin" value="error" />  
            <param name="levelMax" value="error" />  
            <param name="AcceptOnMatch" value="true" />  
        </filter>
	</appender>
	
	<logger name="org.yseasony.acg">
		<level value="debug" />
		<appender-ref ref="logfile_bug" />
		<appender-ref ref="logfile_error" />
		<appender-ref ref="stdout_error" />
		<appender-ref ref="stdout_debug" />
	</logger>
	
	<logger name="500.jsp">
		<level value="error" />
		<appender-ref ref="logfile_error" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="com.google.code.yanf4j">
		<level value="error" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="com.octo.captcha">
		<level value="debug" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="java.sql.Connection">
		<level value="debug" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="java.sql.PreparedStatement">
		<level value="debug" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="java.sql.ResultSet">
		<level value="debug" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="java.sql.Statement">
		<level value="debug" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="net.rubyeye.xmemcached">
		<level value="error" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="org.apache.commons.beanutils">
		<level value="error" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="org.apache.ibatis">
		<level value="debug" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="org.dozer">
		<level value="error" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="org.mybatis.spring">
		<level value="debug" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="org.springframework">
		<level value="error" />
		<appender-ref ref="stdout_error" />
	</logger>
	<logger name="org.apache.velocity">
		<level value="error" />
		<appender-ref ref="stdout_error" />
	</logger>
	<root>
		<level value="debug" />
	</root>
	
</log4j:configuration>