<div id="sidebar-wrapper">
	<!-- Sidebar with logo and menu -->
	<h1 id="sidebar-title">
		<a href="#"></a>
	</h1>
	<!-- Sidebar Profile links -->
	<div id="profile-links">
		Hello, <a href="#" title="Edit your profile">${authz.principal}</a>,
		you have <a href="#">3 Messages</a> 
		<br /> 
		<br /> 
		<a href="#" title="View the Site">首页</a> | <a href="#" title="Sign Out">退出</a>
	</div>

	<ul id="main-nav">
		<!-- Accordion Menu -->
		<!-- Add the class "no-submenu" to menu items with no sub menu -->
		<li><a href="#" class="nav-top-item">Dashboard</a></li>
		<!-- Add the class "current" to current menu item -->
		<li><a href="#" class="nav-top-item">用户管理</a>
			<ul style="display: block;">
				<li><a href="${ctx}/admin/user/userPage" name="load">用户</a>
				</li>
				<li><a href="#">Manage Articles</a>
				</li>
				<li><a href="#">Manage Comments</a>
				</li>
				<li><a href="#">Manage Categories</a>
				</li>
			</ul>
		</li>

		<li><a href="#" class="nav-top-item"> Pages </a>
			<ul style="display: none;">
				<li><a href="#">Create a new Page</a>
				</li>
				<li><a href="#">Manage Pages</a>
				</li>
			</ul></li>

		<li><a href="#" class="nav-top-item"> Image Gallery </a>
			<ul style="display: none;">
				<li><a href="#">Upload Images</a>
				</li>
				<li><a href="#">Manage Galleries</a>
				</li>
				<li><a href="#">Manage Albums</a>
				</li>
				<li><a href="#">Gallery Settings</a>
				</li>
			</ul></li>

		<li><a href="#" class="nav-top-item"> Events Calendar </a>
			<ul style="display: none;">
				<li><a href="#">Calendar Overview</a>
				</li>
				<li><a href="#">Add a new Event</a>
				</li>
				<li><a href="#">Calendar Settings</a>
				</li>
			</ul></li>

		<li><a href="#" class="nav-top-item"> Settings </a>
			<ul style="display: none;">
				<li><a href="#">General</a>
				</li>
				<li><a href="#">Design</a>
				</li>
				<li><a href="#">Your Profile</a>
				</li>
				<li><a href="#">Users and Permissions</a>
				</li>
			</ul></li>

	</ul>
	<!-- End #main-nav -->
</div>