<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="page" type="org.yseasony.exam.utils.Page" />
		<typeAlias alias="user" type="org.yseasony.exam.entity.User" />
		<typeAlias alias="role" type="org.yseasony.exam.entity.Role" />
		<typeAlias alias="auth" type="org.yseasony.exam.entity.Authority" />
		<typeAlias alias="questionBank" type="org.yseasony.exam.entity.QuestionBank" />
		<typeAlias alias="examinationPager" type="org.yseasony.exam.entity.ExaminationPager" />
	</typeAliases>

	<plugins>
		<plugin interceptor="org.yseasony.exam.utils.plugin.mybatis.ResultSetHandlerInterceptor" />
		<plugin interceptor="org.yseasony.exam.utils.plugin.mybatis.StatementHandlerInterceptor" >
		<property name="dialect" value="org.yseasony.exam.utils.sql.dialect.MySQLDialect,SqlSessionFactory" />
		</plugin>
	</plugins>
</configuration>
