<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yseasony.exam.dao.QuestionBankDao">
	<resultMap id="questionBankMap" type="questionBank">
		<id column="qb_id" property="qbId" jdbcType="INTEGER" />
		<result column="ex_id" property="exId" jdbcType="INTEGER" />
		<result column="qt_id" property="qtId" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="question" property="question" jdbcType="VARCHAR" />
		<result column="answer" property="answer" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
	</resultMap>

	<insert id="insert" parameterType="questionBank">
		insert into exam_question_bank (ex_id, qt_id,
		title, question, answer,
		score, create_time)
		values (#{exId,jdbcType=INTEGER},
		#{qtId,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR},
		#{score,jdbcType=INTEGER}, #{createTime,jdbcType=DATE})
	</insert>

</mapper>