<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yseasony.acg.dao.AuthorityDao">
	<resultMap id="authMap" type="auth">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="display_name" property="displayName" jdbcType="VARCHAR" />
		<result column="button_name" property="buttonName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="page" resultMap="authMap" parameterType="page">
		SELECT
		id, display_name, name,button_name
		FROM
		acg_authority
	</select>

	<insert id="insert" parameterType="auth">
		INSERT INTO acg_authority
		(name,display_name,button_name) values(#{name},#{displayName},#{buttonName})
	</insert>

	<update id="update" parameterType="auth">
		UPDATE acg_authority
		<set>
			<if test="name != null"> name = #{name},</if>
			<if test="displayName != null">display_name = #{displayName},</if>
			<if test="buttonName != null">button_name = #{buttonName},</if>
		</set>
		where id = #{id}
	</update>
	
	<select id="pageCount" resultType="java.lang.Integer">
		select count(id) from acg_authority
		<where>
			<if test="filters != null">
				<if test="filters.name != null">
					name = #{filters.name}
				</if>
			</if>
		</where>
	</select>
	
	<select id="count" resultType="java.lang.Integer">
		select count(id) from acg_authority
		<where>
			<if test="filters != null">
				<if test="filters.name != null">
					name = #{filters.name}
				</if>
			</if>
		</where>
	</select>

	<delete id="delete" parameterType="int">
		delete from acg_authority where id = #{id,jdbcType=BIGINT}
	</delete>

	<select id="getAll" resultMap="authMap">
		SELECT
		id, display_name
		FROM
		acg_authority 
	</select>

</mapper>